@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
body {
  font-family: 'Lato', sans-serif;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

.body-text {
  font-size: 15px;
}

.font-awesome {
  color: #10e3ff;
  font-size: 56px;
}

.mfizz-icons {
  color: #10e3ff;
  font-size: 56px;
  margin-top: -10px;
}

.hover-cyan:hover {
  color: #3edbf0;
}

.cyan-background {
  background-color: #22def7;
}

.cyan-border {
  border-color: #22def7;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 750ms ease-in;
}
